#yearMonthForm {
  width: 1050px;
  /* background-color: lightcoral; */
  margin: 0 auto;
}

#yearDiv {
  margin-top: 43px;
  height: 60px;
  /* background-color: orange; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#yearMinusBtn,
#yearPlusBtn {
  width: 84px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--normal-grey);
  cursor: pointer;
  font-size: 48px;
}

#year {
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 27px;
}

#monthDiv {
  margin-top: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: yellow; */
}

.monthBtn {
  padding: 0 15px;
  height: 60px;
  font-size: 40px;
  background-color: var(--normal-blue);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.calander {
  width: 1050px;
  height: 475px;
  /* background-color: skyblue; */
  margin: 58px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.feb {
  width: 1050px;
  height: 475px;
  /* background-color: skyblue; */
  margin: 58px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.date {
  background-color: white;
  border: 1px solid black;
  padding-left: 14px;
  padding-top: 17px;
  font-size: var(--font-size2);
  cursor: pointer;
}

#today {
  background-color: #bdd4ff;
}

.scheduleNum {
  color: var(--normal-blue);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#createModalContent {
  background-color: var(--light-blue);
  position: fixed;
  top: 250px;
  margin-left: 20%;
  padding: 35px;
  border: 2px solid black;
  width: 60%;
  height: 560px;
}

.modalContent {
  background-color: var(--light-blue);
  /* position: fixed; */
  /* top: 250px; */
  /* margin-left: 20%; */
  padding: 35px;
  /* border: 2px solid black; */
  /* width: 60%; */
  /* height: 560px; */
}

#scheduleFormTimeInput,
.scheduleEditTimeInput {
  display: flex;
  align-items: center;
}

.scheduleFormInput {
  width: 100px;
  height: 60px;
  font-size: var(--font-size3);
  padding-left: 10px;
  padding-right: 10px;
}

.scheduleEditTimeInput .scheduleFormInput {
  height: 50px;
}

.scheduleFormSpan {
  margin-left: 10px;
  font-size: var(--font-size2);
  margin-right: 30px;
}

#scheduleFormContentInput {
  margin-top: 41px;
  font-size: var(--font-size2);
}

#scheduleFormContentInput input {
  padding: 24px;
  width: 100%;
  height: 230px;
  box-sizing: border-box;
  margin-top: 10px;
  font-size: var(--font-size4);
}

#scheduleFormBtnSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 65px 20% 0 20%;
}

#scheduleFormBtnSection .greyBtn,
#scheduleFormBtnSection .blueBtn {
  width: 184px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size2);
}

#scheduleDetailModalContent {
  font-size: var(--font-size4);
  margin-bottom: 20px;
}

#clickedDate {
  margin-bottom: 20px;
}

#scheduleList {
  width: 100%;
  /* background-color: orange; */
  box-sizing: border-box;
  list-style: none;
  padding-inline-start: 0;
  overflow-y: auto;
  height: 400px;
}

.schedule {
  font-size: var(--font-size2);
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  height: 70px;
}

.formOpenSchedule {
  font-size: var(--font-size2);
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  height: 240px;
}

.scheduleName {
  margin-right: 45px;
  /* flex-grow: 1; */
}

.scheduleTime {
  margin-right: 37px;
  width: 110px;
  /* flex-grow: 1; */
}

.scheduleContent {
  flex-grow: 1;
}

.scheduleEditDeleteForm {
  /* display: flex; */
  /* justify-content: space-between; */
  width: 206px;
  height: 100%;
  margin-block-end: 0;
}

.editDeleteBtnDiv {
  display: flex;
  width: 206px;
  justify-content: space-between;
}

.scheduleContentSaveBtnDiv {
  margin-top: 20px;
  /* height: 135px; */
  width: 720px;
}

.scheduleContentInput {
  width: 720px;
  height: 129px;
  font-size: 24px;
  margin-right: 20px;
}

.scheduleEditDeleteForm .editBtn,
.scheduleEditDeleteForm .deleteBtn,
.scheduleEditDeleteForm .saveBtn {
  width: 93px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
